# This is the git ignore file for the energy efficient PON work

# Ignore certain folders
/Traces/*

# Specific file types to ignore
*.pyc
*.o
*~
*#
*.bak
*.swp

# Files to ignore in eponsim
code/svtest
code/eponsim
code/eponsim_trc
code/eponsim_trc_lo
code/eponsim_trc_hi
code/testNewGen

# Make sure to preserve the csim files
!code/csim
!code/csim/*


